**DATA ANALYSIS FOR MTN COTE D'IVOIRE NETWORK UPGRADE**

**INTRO**:MTN -Cote dIvoire would like to upgrade its technology infrastructure for its mobile users. 

**OVERALL OBJECTIVE**: To analyze a given dataset, that will guide how does MTN Cote dIvoire will go about the upgrade of its infrastructure strategy within the given cities.

**MINOR OBJECTIVES**:
1.   importing python libraries
2.   Loading data sets
3.   Manipulating and Cleaning Datasets
4.   Select and sorting & Analysing datasets

**1. Importing Python libraries (Pandas and Numpy)**

In [1]:
import pandas as pd
import numpy as np

**2. Loading datasets**

In [2]:
url = '/content/cells_geo_description.xlsx'
df = pd.read_excel(url)
df

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [3]:
url1 = '/content/cells_geo.csv'
df1 = pd.read_csv(url1)
df1.head(8)

  ;VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE
0  0;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
1  1;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
2  2;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
3  3;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
4  4;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
5  5;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
6  6;KRIKOREA;In Service;INTERIEUR;Grand-OUEST;"K...
7  7;ABOBO;In Service;ABIDJAN;"""Abidjan_NORD";NP...

In [4]:
url2= '/content/Telcom_dataset3.csv'
df2 = pd.read_csv(url2)
df2.head(8)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
5   Voice     10  2012-05-08 23:03:59.0  ...     19e2e  +e+xcimwre  +e+xcimwre
6     sms      0  2012-05-08 23:06:06.0  ...     19e2e  +R5ccmtyJf  +R5ccmtyJf
7   Voice     10  2012-05-08 23:06:55.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+

[8 rows x 10 columns]

In [5]:
url3 ='/content/Telcom_dataset2.csv'
df3 = pd.read_csv(url3)
df3.head(8)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
5     sms      0  2012-05-07 23:05:41.0  ...     19e2e  /MMplBlWjh  /MMplBlWjh
6   Voice     41  2012-05-07 23:06:14.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
7   Voice     11  2012-05-07 23:06:28.0  ...     19e2e  +gySf02tKW  +gySf02tKW

[8 rows x 10 columns]

In [6]:
url4 = '/content/Telcom_dataset.csv'
df4 = pd.read_csv(url4)
df4.head(4)

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3

[4 rows x 10 columns]

In [7]:
url5= '/content/CDR_description.xlsx'
df5 = pd.read_excel(url5)
df5

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

**3. Manipulating and Cleaning datasets**
    
     *Spliting columns
    
    *Renaming columns correctly
    
    *Merging Telcom_dataset tables for the three days 
    
    *Dropping unwanted columns

**Spliting and Renaming the GEO_csv dataset** 

The values on the df1-table above are presented in one cell, therefore the cell needs to be splited and expanded. since the code returns column names as numbers(0,1,2,3....), columns have to be renamed to reflect the original column names

In [8]:
# column named has been renamed to geo to shorten the column name
url1 = '/content/cells_geo.csv'
df1 = pd.read_csv(url1)
df1.columns = ['geo']
df1.head(8)
df6 = df1['geo'].str.split(";", n =11, expand = True )
#df6.drop(['0'], axis= 1, inplace= True)

df6.columns = ['index','CITY', 'STATUS', 'LOCALISATION', 'DECOUPZONE', 'ZONENAME', 'LONGITUDE', 'LATITUDE', 'REGION', 'AREA', 'CELL_ID', 'SITE_CODE']
df6.drop(['index'], axis= 1, inplace= True)
df6.head(5)

      CITY      STATUS LOCALISATION  ... AREA     CELL_ID   SITE_CODE
0   ADJAME  In Service      ABIDJAN  ...       fbb2e75af3  0bb492ef17
1   ADJAME  In Service      ABIDJAN  ...       1502501d78  0bb492ef17
2   ADJAME  In Service      ABIDJAN  ...       0c2e182a0c  0bb492ef17
3  ASSINIE  In Service    INTERIEUR  ...       69bdfc69fd  8a1e6ce31f
4  ASSINIE  In Service    INTERIEUR  ...       7a1029d2ab  8a1e6ce31f

[5 rows x 11 columns]

**Droping and Remaning columns per dataset**

In [9]:
df2.drop(['DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B'], axis = 1, inplace = True)
df2.columns = ['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'CELL_ID', 'SITE_CODE']
df2.head(10)

  PRODUCT  VALUE              DATE_TIME CELL_ON_SITE     CELL_ID   SITE_CODE
0   Voice     61  2012-05-08 23:01:28.0            2  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0            1  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0            1  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0            0  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0            4  /eeMklgyJA  /eeMklgyJA
5   Voice     10  2012-05-08 23:03:59.0            0  +e+xcimwre  +e+xcimwre
6     sms      0  2012-05-08 23:06:06.0            0  +R5ccmtyJf  +R5ccmtyJf
7   Voice     10  2012-05-08 23:06:55.0            1  +ZaaZozy/+  +ZaaZozy/+
8     sms     25  2012-05-08 23:07:09.0            1  13O1+JEun3  13O1+JEun3
9     sms      0  2012-05-08 23:07:38.0            0  /eeMklgyJA  /eeMklgyJA

In [10]:
df3.drop(['DW_A_NUMBER', 'DW_B_NUMBER', 'COUNTRY_A', 'COUNTRY_B',], axis = 1, inplace = True)
df3.columns = ['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'CELL_ID', 'SITE_CODE']
df3.head(10)

  PRODUCT  VALUE              DATE_TIME CELL_ON_SITE     CELL_ID   SITE_CODE
0     sms      0  2012-05-07 23:02:06.0            2  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0            1  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0            0  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0            1  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0            1  +bO+qkSonO  +bO+qkSonO
5     sms      0  2012-05-07 23:05:41.0            4  /MMplBlWjh  /MMplBlWjh
6   Voice     41  2012-05-07 23:06:14.0            1  +laSrk7g6q  +laSrk7g6q
7   Voice     11  2012-05-07 23:06:28.0            0  +gySf02tKW  +gySf02tKW
8     sms      0  2012-05-07 23:06:35.0            2  /0FxP3az1x  /0FxP3az1x
9     sms      0  2012-05-07 23:06:50.0            0  0ecjmwPX21  0ecjmwPX21

In [11]:
df4.drop(['DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B'], axis = 1, inplace = True)
#print(df4)
df4.head(10)
# Remaming columns correctly
df4.columns = ['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'CELL_ID', 'SITE_CODE']
df4

     PRODUCT  VALUE              DATE_TIME CELL_ON_SITE     CELL_ID   SITE_CODE
0      Voice      0  2012-05-06 23:04:37.0            1  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0            0  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0            0  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0            1  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0            1  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...          ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0            0  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0            1  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0            1  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0            0  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0            2  6f4d9b77a5  ebfc58af70

[5001 rows x 6 columns]

**Merging Telcom_dataset tables for the three days**

In [12]:
df7 = pd.concat([df2,df3, df4], axis = 0, ignore_index= True)
df7

      PRODUCT  VALUE  ...     CELL_ID   SITE_CODE
0       Voice     61  ...  +38u2u/rfx  +38u2u/rfx
1         sms      0  ...  +Fs4mTvdKx  +Fs4mTvdKx
2       Voice     10  ...  +ZaaZozy/+  +ZaaZozy/+
3         sms      0  ...  +cNeJzsTp3  +cNeJzsTp3
4       Voice     22  ...  /eeMklgyJA  /eeMklgyJA
...       ...    ...  ...         ...         ...
14998     sms    100  ...  0c2371d9bc  1e751d08a4
14999   Voice      1  ...  5fb791cf56  65efe2bc62
15000   Voice      0  ...  7773627c12  9ef9616350
15001   Voice      0  ...  3f4af49d6c  969b8d0e39
15002   Voice      7  ...  6f4d9b77a5  ebfc58af70

[15003 rows x 6 columns]

In [13]:
df6.merge(df7, how = 'left', on = 'SITE_CODE')
df7.drop_duplicates(subset= ['SITE_CODE'], inplace = True)
df8= df6.merge(df7, how = 'left', on = 'SITE_CODE')
df8.head(8)

       CITY      STATUS  ... CELL_ON_SITE   CELL_ID_y
0    ADJAME  In Service  ...            2  ac8f1ccb39
1    ADJAME  In Service  ...            2  ac8f1ccb39
2    ADJAME  In Service  ...            2  ac8f1ccb39
3   ASSINIE  In Service  ...          NaN         NaN
4   ASSINIE  In Service  ...          NaN         NaN
5   ASSINIE  In Service  ...          NaN         NaN
6  KRIKOREA  In Service  ...          NaN         NaN
7     ABOBO  In Service  ...            0  6bbbed100d

[8 rows x 16 columns]

**Checking for Duplicates**

In [14]:
df7.duplicated()
df7.drop_duplicates()
df7.head(10)

   PRODUCT  VALUE              DATE_TIME CELL_ON_SITE     CELL_ID   SITE_CODE
0    Voice     61  2012-05-08 23:01:28.0            2  +38u2u/rfx  +38u2u/rfx
1      sms      0  2012-05-08 23:01:31.0            1  +Fs4mTvdKx  +Fs4mTvdKx
2    Voice     10  2012-05-08 23:02:59.0            1  +ZaaZozy/+  +ZaaZozy/+
3      sms      0  2012-05-08 23:03:04.0            0  +cNeJzsTp3  +cNeJzsTp3
4    Voice     22  2012-05-08 23:03:16.0            4  /eeMklgyJA  /eeMklgyJA
5    Voice     10  2012-05-08 23:03:59.0            0  +e+xcimwre  +e+xcimwre
6      sms      0  2012-05-08 23:06:06.0            0  +R5ccmtyJf  +R5ccmtyJf
8      sms     25  2012-05-08 23:07:09.0            1  13O1+JEun3  13O1+JEun3
11     sms      0  2012-05-08 23:07:55.0            1  /NPTR0H+5I  /NPTR0H+5I
12     sms      0  2012-05-08 23:08:15.0            1  18MlD9e2CO  18MlD9e2CO

In [15]:
#Checking for duplicated values in the Geo dataset
df6.duplicated()
df6.drop_duplicates()

          CITY      STATUS LOCALISATION  ...          AREA     CELL_ID   SITE_CODE
0       ADJAME  In Service      ABIDJAN  ...                fbb2e75af3  0bb492ef17
1       ADJAME  In Service      ABIDJAN  ...                1502501d78  0bb492ef17
2       ADJAME  In Service      ABIDJAN  ...                0c2e182a0c  0bb492ef17
3      ASSINIE  In Service    INTERIEUR  ...                69bdfc69fd  8a1e6ce31f
4      ASSINIE  In Service    INTERIEUR  ...                7a1029d2ab  8a1e6ce31f
...        ...         ...          ...  ...           ...         ...         ...
3969  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3931 rows x 11 columns]

**Checking for missing values**

In [16]:
df7.isnull()
df7.fillna(0)

      PRODUCT  VALUE  ...     CELL_ID   SITE_CODE
0       Voice     61  ...  +38u2u/rfx  +38u2u/rfx
1         sms      0  ...  +Fs4mTvdKx  +Fs4mTvdKx
2       Voice     10  ...  +ZaaZozy/+  +ZaaZozy/+
3         sms      0  ...  +cNeJzsTp3  +cNeJzsTp3
4       Voice     22  ...  /eeMklgyJA  /eeMklgyJA
...       ...    ...  ...         ...         ...
14686   Voice     20  ...  7b6e32be72  3f627621ff
14821   Voice     40  ...  9e39dc6080  6edaac0f1e
14887   Voice      0  ...  31681b393d  3a49e7ac0c
14899   Voice      0  ...  08282edbcc  4299ae845e
14968   Voice      1  ...  0eaf635cdd  c644d1ce4c

[1358 rows x 6 columns]

In [17]:
#Checking missing values in the Geo dataset
df6.isnull()

       CITY  STATUS  LOCALISATION  ...   AREA  CELL_ID  SITE_CODE
0     False   False         False  ...  False    False      False
1     False   False         False  ...  False    False      False
2     False   False         False  ...  False    False      False
3     False   False         False  ...  False    False      False
4     False   False         False  ...  False    False      False
...     ...     ...           ...  ...    ...      ...        ...
3969  False   False         False  ...  False    False      False
3970  False   False         False  ...  False    False      False
3971  False   False         False  ...  False    False      False
3972  False   False         False  ...  False    False      False
3973  False   False         False  ...  False    False      False

[3974 rows x 11 columns]

**Select and Sorting & Analysing Datasets**

1. Finding the frequency of the cities inthe dataset
The data present in descending order which show the MTN products were used mostly in Cocody city with its frequency being the highest within the last three days

In [18]:
#This code helps us find out how the citites utilised various products according to their numbers of site code entries
no_of_cities = len(pd.unique(df6['CITY']))
df6['CITY'].value_counts()
#groupby_cities = df6['SITE_CODE'].groupby(df6['CITY'])
#groupby_cities.count()
#groupby_cities.max()

COCODY         354
YOPOUGON       295
ABOBO          255
MARCORY        141
TREICHVILLE    132
              ...
BAYOTA           3
KOTOULA          2
MEMNI            2
OUANGOLO         1
DANANON          1
Name: CITY, Length: 504, dtype: int64

In [37]:
#The table below displays contents showing Cocody's city cell activities
value_list = ['COCODY']
df8[df8.CITY.isin(value_list)]

        CITY      STATUS  ... CELL_ON_SITE   CELL_ID_y
308   COCODY  In Service  ...            1  16ef81d211
309   COCODY  In Service  ...            1  16ef81d211
310   COCODY  In Service  ...            1  16ef81d211
311   COCODY  In Service  ...            2  4261f660ef
312   COCODY  In Service  ...            2  4261f660ef
...      ...         ...  ...          ...         ...
3619  COCODY  In Service  ...            1  d64d369ec1
3620  COCODY  In Service  ...            1  d64d369ec1
3621  COCODY  In Service  ...            1  d64d369ec1
3622  COCODY  In Service  ...            1  d64d369ec1
3623  COCODY  In Service  ...            1  d64d369ec1

[354 rows x 16 columns]

In [20]:
# The value bellow displays the amount of products utilised showing th count of each product
df8['PRODUCT'].value_counts()

Voice    1739
sms      1719
Name: PRODUCT, dtype: int64

In [50]:
#The list below shows how the MTN product i.e. voice and sms were utilised by time. It is notable that voice product was utised more before midnight 
list(df2['DATE_TIME'].unique())
groupby_product = df8['DATE_TIME'].groupby(df8['PRODUCT'])
groupby_product.value_counts()

PRODUCT  DATE_TIME
Voice    2012-05-09 00:00:01.0    82
         2012-05-09 00:00:03.0    48
         2012-05-09 00:00:04.0    46
         2012-05-07 00:00:39.0    45
         2012-05-09 00:00:02.0    42
                                  ..
sms      2012-05-09 00:01:37.0     3
         2012-05-09 00:01:39.0     3
         2012-05-09 00:01:42.0     3
         2012-05-09 00:01:43.0     3
         2012-05-08 00:00:56.0     2
Name: DATE_TIME, Length: 334, dtype: int64

In [52]:
groupby_city = df8['CITY'].groupby(df8['PRODUCT'])
groupby_city.value_counts()

PRODUCT  CITY
Voice    COCODY         170
         YOPOUGON        95
         ABOBO           70
         TREICHVILLE     65
         PLATEAU         48
                       ...
sms      ZADDI            3
         ZAIBO            3
         ZAROKO           3
         MEMNI            2
         TOUPAH           2
Name: CITY, Length: 442, dtype: int64

In [24]:
#The display below describes the products in count,frequency and the leading product
df8['PRODUCT'].describe()

count      3458
unique        2
top       Voice
freq       1739
Name: PRODUCT, dtype: object

In [25]:
#The mean value of billinb across all products is 45.91
df8['VALUE'].mean()

45.91122035858878

In [53]:
#out of 354 counts MTN products used in Cocody city whi is the largest consumer, 170 consisted of voice cell service
x = df8['CITY'] == 'COCODY'
y = df8['PRODUCT']== 'Voice'
df8[x & y]

        CITY      STATUS  ... CELL_ON_SITE   CELL_ID_y
308   COCODY  In Service  ...            1  16ef81d211
309   COCODY  In Service  ...            1  16ef81d211
310   COCODY  In Service  ...            1  16ef81d211
320   COCODY  In Service  ...            1  16ef81d211
321   COCODY  In Service  ...            1  16ef81d211
...      ...         ...  ...          ...         ...
3619  COCODY  In Service  ...            1  d64d369ec1
3620  COCODY  In Service  ...            1  d64d369ec1
3621  COCODY  In Service  ...            1  d64d369ec1
3622  COCODY  In Service  ...            1  d64d369ec1
3623  COCODY  In Service  ...            1  d64d369ec1

[170 rows x 16 columns]

In [47]:
x = df8['CITY'] == 'COCODY'
y = df8['PRODUCT']== 'sms'
df8[x & y]

        CITY      STATUS  ... CELL_ON_SITE   CELL_ID_y
311   COCODY  In Service  ...            2  4261f660ef
312   COCODY  In Service  ...            2  4261f660ef
313   COCODY  In Service  ...            2  4261f660ef
314   COCODY  In Service  ...            2  4261f660ef
315   COCODY  In Service  ...            2  4261f660ef
...      ...         ...  ...          ...         ...
3344  COCODY  In Service  ...            1  2e93a4410e
3345  COCODY  In Service  ...            1  2e93a4410e
3346  COCODY  In Service  ...            1  2e93a4410e
3347  COCODY  In Service  ...            1  2e93a4410e
3348  COCODY  In Service  ...            1  2e93a4410e

[168 rows x 16 columns]